swin-gte-split1.pth
__pycache__/
work_dirs/*
work_dir/*
pretrained/*
*/__pycache__
*.pyc
models/models/backbones/__pycache__
models/models/utils/__pycache__
data/*
data
output/*
.idea/*
.vscode/*
=10.1
markdown/*
result_keypoints.json